@import "./../../../assets/color-palette.scss";

:host {
  display: flex;
  flex-direction: column;
  row-gap: 45%;

  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: 100svh;

  padding: 2rem;

  box-sizing: border-box;
  overflow: hidden;

  .personal-data-container {

    &__text {
      font-weight: bold;
      text-align: center;

      user-select: none;
    }

    &__text--name {
      color: rgba($primary-text, 0.6);
      font-size: 4rem;
    }

    &__text--specialization {
      color: rgba($accent-text, 0.6);
      font-size: 2rem;
    }
  }
}
