:host {
  animation-name: fade-screen-in;
  animation-duration: 8s;

  @keyframes fade-screen-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .first-section {

    &__background-waves {
      position: absolute;
      z-index: -1;

      top: 0;
      left: 0;

      width: 100%;
      height: 100svh;
    }
  }

  .second-section {
    height: 1000rem;
  }
}
